/* Header Styles */
.header {
  background-color: var(--purple);
}
.header .wrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .text-container,
.header .img-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.header .text-container {
  color: var(--white);
}
.header .social-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.header .social-media-container .icon-box {
  border: 1px solid var(--white);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.3s;
}
.header .social-media-container .icon-box:hover {
  background-color: var(--orange);
  color: var(--white);
}
/**/
