.link {
  color: inherit;
  text-decoration: none;
}
.orange {
  color: var(--orange);
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--white);
  border: none;
  transition: all 0.3s;
}

input , textarea{
  border: none;
  outline: none;
}