@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

:root{
  --darkblue:#170550;
  --white:#ffffff;
  --orange:#F86F03;
  --purple:#31065A;
  --hovered-purple:#AD5BFB;
  --input:#43366A;
}